[project]
	description = CompanyClient
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/msaeeeed
[access "refs/for/refs/*"]
	read = group user/msaeeeed
	push = group user/msaeeeed
	label-Code-Review = -2..+2 group user/msaeeeed
	label-Verified = -1..+1 group user/msaeeeed
	rebase = group user/msaeeeed
	removeReviewer = group user/msaeeeed
	submit = group user/msaeeeed
[access "refs/heads/*"]
	read = group user/msaeeeed
	create = group user/msaeeeed
	push = +force group user/msaeeeed
	pushMerge = group user/msaeeeed
[access "refs/tags/*"]
	push = +force group user/msaeeeed
	pushTag = group user/msaeeeed
	pushSignedTag = group user/msaeeeed
